@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --breakpoint-xl: 1800px;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-green-50: #08a508;
  --color-red-50: #fa4d4d;
  --color-gray-50: #6c757d;
  --color-backdrop-modal: #0d0f1026;
  --color-beginning: #f7bc30;
  --color-progress: #fb5607;
  --color-ready: #ff006e;
  --color-done: #3a86ff;
  --color-heigh: #fa4d4d;
  --color-medium: #ffbe0b;
  --color-low: #08a508;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
